.RedditPage {
    text-align: center;    
    width: 100%;

    .link {
        position: absolute;
        bottom: 10px;
        right: 45%;
    }

    .title {
        margin-bottom: 30px;
    }

    .input-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .input-span {
            display: flex;
            flex-direction: row;
            margin-left: 20px;
            margin-bottom: 20px;
            
            .TextInput {
                margin-left: 10px;
            }

            .NumericalInput {
                margin-left: 10px;
                input {                
                    width: 60px;
                }
            }
        }

        .submit-button {
            width: 70px;
            height: 20px;
            margin-left: 10px;
            cursor: pointer;
        }
    }

    .graph-container {
        select {
            margin-bottom: 30px;
        }
    }
}